@model personapi_dotnet.Models.Entities.Persona

@{
    ViewData["Title"] = "Info Persona";
}

<h2>Detalles de Persona</h2>

<div class="form-group">
    <label>CC:</label>
    <p>@Model.Cc</p>
</div>

<div class="form-group">
    <label>Nombre:</label>
    <p>@Model.Nombre</p>
</div>

<div class="form-group">
    <label>Apellido:</label>
    <p>@Model.Apellido</p>
</div>

<div class="form-group">
    <label>Edad:</label>
    <p>@Model.Edad</p>
</div>

<div class="form-group">
    <label>Género:</label>
    <p>@Model.Genero</p>
</div>